## MoronV0 klipper config - based on LDO VoronV0.2r1 kit

# Fluidd or Mainsail
# [include fluidd.cfg]
[include mainsail.cfg]
[include configs/mcu.cfg]

## *** THINGS TO CHANGE/CHECK: ***
## MCU path                                                                     [mcu] section
## Z and Extruder motor currents                                                [tmc2209 stepper_*] sections. Uncomment the stepper motor you have
## Full steps per rotation for Extruder                                         [extruder] section
## Thermistor types                                                             [extruder] and [heater_bed] sections - See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types
## Extruder motor currents                                                      [extruder] section
## PID tune                                                                     [extruder] and [heater_bed] sections
## Fine tune E steps                                                            [extruder] section
## For more info                                                                check https://docs.vorondesign.com/build/startup/#v0

[printer]
kinematics: corexy
max_velocity: 400
max_accel: 11800 # 21200 for X
max_z_velocity: 15
max_z_accel: 45
square_corner_velocity: 5.0

[idle_timeout]
timeout: 1800

[include configs/axis.cfg]
[include configs/hotbed.cfg]
[include configs/fans.cfg]
[include configs/lightning.cfg]
[include configs/extrusion.cfg]
[include configs/sensorless_homing.cfg]
[include configs/input_shaping.cfg]
[include configs/filament_sensor.cfg]
[include configs/gcode_overrides.cfg]
[include configs/gcodes/*.cfg]

# Extra modules
[exclude_object]
[gcode_arcs]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.

