
## Sensorless Homing
## This file contains configuration and macros pertaining to sensorless homing for the Voron 0.2 
## It is based on this guide: https://docs.vorondesign.com/community/howto/clee/sensorless_xy_homing.html

## *MAKE SURE* to include this config file *AFTER* the main controller config. 
## This will ensure the relavent sections are overwritten by the configurations specified here.

## If using SKR Pico or SKR mini E3 mainboards, make sure to set the X-DIAG and Y-DIAG jumpers to enable sensorless homing
## See here https://github.com/bigtreetech/SKR-Pico/blob/master/Hardware/BTT%20SKR%20Pico%20V1.0-PIN.pdf

[stepper_x]
endstop_pin: tmc2209_stepper_x:virtual_endstop
homing_speed: 60
homing_retract_dist: 0

[tmc2209 stepper_x]
diag_pin: ^gpio4 
driver_SGTHRS: 90  #Tune this, use the highest value that will not cause a false trigger

[stepper_y]
endstop_pin: tmc2209_stepper_y:virtual_endstop
homing_speed: 40
homing_retract_dist: 0

[tmc2209 stepper_y]
diag_pin: ^gpio3
driver_SGTHRS: 90  #Tune this, use the highest value that will not cause a false trigger
